/*==========================================
=            01. General Styles            =
==========================================*/

body {
    font-family: 'lato', sans-serif;
    font-size: 16px;
    line-height: 1.8;
    background-color: #fff;
}

@media only screen and (max-width:767px) {
    body {
        font-size: 15px;
    }
}

::-moz-selection {
    color: #fff;
}

::selection {
    color: #fff;
}

a {
    text-decoration: none;
    color: #444;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #666;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    color: #333;
    margin: 0 0 15px;
}

p {
    color: #666;
}

img {
    max-width: 100%;
    height: auto;
}

blockquote {
    font-style: italic;
}

.owl-carousel {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}

.owl-carousel:active {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
}

.pmd-card {
    padding: 0 0 1px 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

hr {
    border-top: 2px solid rgba(230, 230, 230, 0.65);
    margin: 0;
}

.vertical-align {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.hr-shadow {
    -webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1), inset 0 -2px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1), inset 0 -2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1), inset 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.hr-shadow-top {
    -webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
}

.hr-shadow-bottom {
    -webkit-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.pmd-z-depth {
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

.pmd-z-depth-1 {
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.pmd-z-depth-2 {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.pmd-z-depth-3 {
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.pmd-z-depth-4 {
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.pmd-z-depth-5 {
    -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
}

.pmd-z-depth-6 {
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}

.section-white-bg {
    background-color: #fff;
}

.section-gray-bg {
    background-color: #f3f3f3;
}

.section-fixed-bg {
    -moz-background-size: cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.section-overlay-bg {
    position: relative;
}

.section-overlay-bg:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    background-color: rgba(0, 0, 0, .75);
}

.section-heading {
    position: relative;
    text-align: center;
    margin-bottom: 45px;
}

.section-heading .section-title {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

.section-heading .description {
    font-size: 16px;
    font-weight: 300;
}

@media only screen and (max-width:767px),
only screen and (min-width:768px) and (max-width:991px) {
    .section-heading .section-title {
        font-size: 26px;
    }
    .section-heading .description {
        font-size: 15px;
    }
}

.section-white-bg .section-heading .section-title,
.section-gray-bg .section-heading .section-title {
    color: #444;
}

.section-white-bg .section-heading .description,
.section-gray-bg .section-heading .description {
    color: #666;
}

.section-fixed-bg.section-overlay-bg .section-heading .section-title {
    color: #fff;
}

.section-fixed-bg.section-overlay-bg .section-heading .section-description {
    color: #f3f3f3;
}

.icon-wrapper:before {
    display: inline-block;
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: inherit;
    text-align: center;
    text-transform: none;
    line-height: 1em;
    width: 1em;
    margin-right: .2em;
    margin-left: .2em;
    speak: none;
}

.animate-spin {
    -moz-animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
    display: inline-block;
}

@-webkit-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.btn-custom {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 18px;
    color: #fff;
    border: 1px solid transparent;
}

.btn-custom:focus,
.btn-custom.focus {
    color: #fff;
}

.btn-custom:hover {
    color: #fff;
}

.btn-custom:active,
.btn-custom.active,
.open>.dropdown-toggle.btn-custom {
    color: #fff;
}

.btn-custom:active:hover,
.btn-custom.active:hover,
.open>.dropdown-toggle.btn-custom:hover,
.btn-custom:active:focus,
.btn-custom.active:focus,
.open>.dropdown-toggle.btn-custom:focus,
.btn-custom:active.focus,
.btn-custom.active.focus,
.open>.dropdown-toggle.btn-custom.focus {
    color: #fff;
}

.btn-custom:active,
.btn-custom.active,
.open>.dropdown-toggle.btn-custom {
    background-image: none;
}

.ink.animate {
    -webkit-animation-duration: .4s;
    -moz-animation-duration: .4s;
    animation-duration: .4s;
}

.btn-custom .ink,
.dropdown-toggle.btn-custom .ink {
    background-color: rgba(255, 255, 255, 0.5);
}

.btn-custom .badge {
    background-color: #fff;
}

.btn-custom:disabled,
.dropdown-toggle.btn-custom:disabled,
.btn-custom.disabled,
.dropdown-toggle.btn-custom.disabled,
.btn-custom[disabled],
.dropdown-toggle.btn-custom[disabled] {
    background-color: #b3b3b3;
}

.pmd-btn-flat.btn-custom {
    background-color: transparent;
}

.pmd-btn-flat.btn-custom:hover {
    background-color: #e5e5e5;
}

.pmd-btn-flat.btn-custom:active,
.pmd-btn-flat.btn-custom.active {
    background-color: #ccc;
}

.pmd-btn-flat.btn-custom:focus {
    background-color: #ccc;
}

.pmd-btn-outline.btn-custom {
    background-color: transparent;
}

.pmd-btn-outline.btn-custom:hover,
.pmd-btn-outline.btn-custom:focus {
    color: #fff;
}

.mfp-fade.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}


/*======================================
=            02. Prealoader            =
======================================*/

.preloader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background-color: #fff;
}

.preloader .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;
}

.preloader .double-bounce-1,
.preloader .double-bounce-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    opacity: 0.75;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    -moz-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.preloader .double-bounce-2 {
    -webkit-animation-delay: -1.0s;
    -moz-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%,
    100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@-moz-keyframes sk-bounce {
    0%,
    100% {
        -moz-transform: scale(0.0);
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        -moz-transform: scale(1.0);
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

@keyframes sk-bounce {
    0%,
    100% {
        -moz-transform: scale(0.0);
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        -moz-transform: scale(1.0);
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}


/*=======================================
=            03. Navbar Area            =
=======================================*/

.navbar-area {
    border: 0;
    margin-bottom: 0;
}

.navbar-area,
.navbar-area .navbar-brand {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.navbar-area.navbar-v1 {
    background-color: transparent;
}

.navbar-area.navbar-v2 {
    background-color: #060721;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.35);
}

.navbar-area .navbar-brand,
.navbar-area .navbar-brand:hover,
.navbar-area .navbar-brand:focus {
    font-family: 'Varela Round', sans-serif;
    font-size: 34px;
    font-weight: bold;
    text-transform: lowercase;
    padding: 0 0 0 15px;
}

.navbar-area.navbar-v1 .navbar-brand,
.navbar-area.navbar-v1 .navbar-brand:hover,
.navbar-area.navbar-v1 .navbar-brand:focus {
    color: #fff;
}

.navbar-area.navbar-v1 .navbar-brand {
    padding-top: 36px;
}

.navbar-area.navbar-v2 .navbar-brand {
     padding-top: 8px; 
}

.navbar-area .navbar-nav {
    margin-right: 0;
}

.navbar-area .navbar-nav>.hash-link>a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    -webkit-transition: all 0.25s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: all 0.25s ease-in-out, padding 0.5s ease-in-out;
    transition: all 0.25s ease-in-out, padding 0.5s ease-in-out;
}

.navbar-area.navbar-v1 .navbar-nav>.hash-link>a {
    color: #dadada;
    padding: 38px 12px;
}

.navbar-area.navbar-v1 .navbar-nav>.hash-link.active>a,
.navbar-area.navbar-v1 .navbar-nav>.hash-link.active>a:hover,
.navbar-area.navbar-v1 .navbar-nav>.hash-link.active>a:focus {
    background-color: transparent;
}

.navbar-area.navbar-v2 .navbar-nav>.hash-link>a {
    padding: 18px 12px;
}

.navbar-area.navbar-v2 .navbar-nav>.hash-link.active>a,
.navbar-area.navbar-v2 .navbar-nav>.hash-link>a:hover {
    color: #fff;
}

.navbar-area .navbar-nav>.btn-download>a {
    -webkit-transition: all 0.4s ease-in-out, margin 0.5s ease-in-out;
    -moz-transition: all 0.4s ease-in-out, margin 0.5s ease-in-out;
    transition: all 0.4s ease-in-out, margin 0.5s ease-in-out;
}

.navbar-area .navbar-nav>.btn-download .btn-custom {
    padding: 9px 13px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.navbar-area .navbar-nav>.btn-download .btn-custom i {
    margin-left: 3px;
}

.navbar-area .navbar-nav>.btn-download>a,
.navbar-area .navbar-nav>.btn-download.active>a,
.navbar-area .navbar-nav>.btn-download.active>a:hover,
.navbar-area .navbar-nav>.btn-download.active>a:focus {
    padding: 0;
}

.navbar-area.navbar-v1 .navbar-nav>.btn-download>a {
    margin: 28px 0 0 10px;
}

.navbar-area.navbar-v2 .navbar-nav>.btn-download>a {
    margin: 8px 0 0 10px;
}


/*=====================================
=            04. Home Area            =
=====================================*/

.home-area {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/home-section.jpg);
    height:100vh;
}

.home-area:before {
    background-color: rgba(0, 0, 0, .77);
}

.home-area>.container>.row {
    margin-top: 28px;
}

.home-area .text-part {
    /* text-align: left; */
}

.home-area .text-part .home-title {
    font-size: 44px;
    line-height: 1.30;
    color: #fff;
}

.home-area .text-part .home-description {
    letter-spacing: 0.25px;
    color: #dcdcdc;
    margin-bottom: 20px;
}

.home-area .text-part .buttons-set .btn-custom {
    font-size: 15px;
    text-transform: none;
    padding: 10px 40px;
    margin-right: 15px;
}

.home-area .text-part .buttons-set .pmd-btn-outline.btn-custom {
    color: #fff;
    border-color: #fff;
}

.home-area .text-part .buttons-set .btn-custom i {
    color: #fff;
    margin-right: 3px;
}

.home-area .img-part {
    padding-top: 77px;
}

.home-area .img-part img {
    width: 480px;
}

/*======================================
=            06. About Area            =
======================================*/

.about-area {
    padding: 85px 0;
}

.about-area>.container>.vertical-align {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
       -moz-box-orient: horizontal;
       -moz-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
}

.about-area .text-part .about-title {
    font-size: 32px;
    color: #444;
    margin-bottom: 20px;
}

.about-area .text-part .about-description {
    color: #666;
    margin-bottom: 20px;
}

.about-area .text-part .about-list {
    margin-bottom: 25px;
}

.about-area .text-part .about-list li {
    font-size: 15px;
    color: #666;
    margin-bottom: 8px;
}

.about-area .text-part .about-list li.icon-wrapper:before {
    content: '\E802';
    font-size: 17px;
    margin-right: 0.6em;
    margin-left: 0;
}

.about-area .text-part .btn-custom {
    padding: 10px 18px;
    border: 0;
}

.about-area .text-part .btn-custom i {
    font-size: 16px;
    margin-right: 3px;
}

.about-area .img-part img {
    width: 425px;
}


/*==========================================
=            13. Downloads Area            =
==========================================*/

.downloads-area {
    background-image: url(../images/downloads-section.jpg);
    padding: 65px 0;
}

.downloads-area:before {
    background-color: rgba(0, 0, 0, 0.64);
}

.downloads-area .section-heading {
    margin-bottom: 0;
}

.downloads-area .badges-set {
    text-align: center;
}

.downloads-area .badges-set .google-play,
.downloads-area .badges-set .apple-store,
.downloads-area .badges-set .windows-store {
    display: inline-block;
    margin: 25px 15px 10px 15px;
}

.downloads-area .badges-set .google-play img,
.downloads-area .badges-set .apple-store img {
    width: 215px;
}

.downloads-area .badges-set .windows-store img {
    width: 175px;
}


/*==================================================
=            14. Latest Blog Posts Area            =
==================================================*/

.latest-posts-area {
    padding: 85px 0 60px 0;
}

.latest-posts-area .blog-posts {
    margin-top: 20px;
}

.latest-posts-area .pmd-card {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 35px;
}

.latest-posts-area .pmd-card .post-thumbnail img {
    width: 100%;
}

.latest-posts-area .pmd-card .post-text {
    margin-bottom: 0;
}

.latest-posts-area .pmd-card .post-text .pmd-card-title-text {
    font-size: 17px;
    margin-bottom: 7px;
}

.latest-posts-area .pmd-card .post-meta .media-left {
    padding-right: 12px;
}

.latest-posts-area .pmd-card .post-meta .avatar-list-img {
    width: 45px;
    height: 45px;
}

.latest-posts-area .pmd-card .post-meta .pmd-card-title-text {
    font-family: 'Montserrat', sans-serif;
}

.latest-posts-area .pmd-card .post-meta .pmd-card-subtitle-text {
    font-size: 13px;
}

.latest-posts-area .pmd-card .post-meta .pmd-card-subtitle-text.icon-wrapper:before {
    content: '\F274';
    font-size: 14px;
    margin-right: 6px;
}

.latest-posts-area .btn-wrapper {
    text-align: center;
}

.latest-posts-area .btn-wrapper .btn-custom {
    text-transform: none;
}

/*======================================
=            16. FAQ's Area            =
======================================*/

.faqs-area {
    padding: 85px 0;
}

.faqs-area .text-part .panel {
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
}

.faqs-area .text-part .panel>.panel-heading a {
    position: relative;
    font-weight: 700;
    padding: 12px 45px 12px 20px;
}

.faqs-area .text-part .panel>.panel-heading a .pmd-accordion-arrow {
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

.faqs-area .text-part .panel.active>.panel-heading a [class^="icon-"].pmd-accordion-arrow,
.faqs-area .text-part .panel.active>.panel-heading a [class*=" icon-"].pmd-accordion-arrow {
    -webkit-transform: rotate(180deg) translateY(50%);
    -ms-transform: rotate(180deg) translateY(50%);
    -moz-transform: rotate(180deg) translateY(50%);
    transform: rotate(180deg) translateY(50%);
}

.faqs-area .text-part .panel>.panel-heading a:focus {
    color: #444;
}

.faqs-area .text-part .panel>.panel-heading a .pmd-accordion-icon-left {
    padding-right: 5px;
}

.faqs-area .text-part .panel>.panel-heading a .pmd-accordion-icon-left.icon-bitcoin {
    color: #c67700;
}

.faqs-area .text-part .panel>.panel-heading a .pmd-accordion-icon-left.icon-language {
    color: #0651c8;
}

.faqs-area .text-part .panel>.panel-heading a .pmd-accordion-icon-left.icon-github {
    color: #0d2636;
}

.faqs-area .text-part .panel>.panel-heading a .pmd-accordion-icon-left.icon-money {
    color: #227300;
}

.faqs-area .text-part .panel>.panel-heading a .pmd-accordion-icon-left.icon-credit-card {
    color: #801515;
}

.faqs-area .text-part .panel>.panel-heading a .pmd-accordion-arrow:before {
    margin: 0;
}

.faqs-area .text-part .panel>.panel-heading a .pmd-accordion-icon-left:before {
    margin-left: 0;
}

.faqs-area .text-part .panel .panel-collapse .panel-body {
    font-size: 14px;
    color: rgba(51, 51, 51, 0.80);
    padding: 5px 20px 25px 20px;
}

.faqs-area .img-part {
    text-align: center;
}

.faqs-area .img-part img {
    width: 275px;
}


/*=====================================
=            17. Team Area            =
=====================================*/

.team-area {
    padding: 85px 0 50px 0;
}

.team-area .owl-carousel {
    padding-top: 15px;
}

.team-area .pmd-card {
    text-align: center;
    margin-bottom: 10px;

}

.team-area .pmd-card .pmd-card-media {
    overflow: hidden;
}

.team-area .pmd-card .pmd-card-media:hover:before {
    opacity: 1;
}

.team-area .pmd-card .pmd-card-title {
    padding: 15px 15px 0 15px;
    margin-bottom: 15px;
}

.team-area .pmd-card .pmd-card-title .pmd-card-title-text {
    font-size: 17px;
    font-weight: 700;
    color: #555;
    margin-bottom: 2px;
}

.team-area .pmd-card .pmd-card-title .pmd-card-subtitle-text {
    display: inline-block;
    margin-bottom: 5px;
}

.team-area .pmd-card .pmd-card-title .member-socials {
    margin: 0 auto;
}

.team-area .pmd-card .pmd-card-title .member-socials li {
    padding: 0 2px;
}

.team-area .pmd-card .pmd-card-title .member-socials i {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.team-area .pmd-card .pmd-card-title .member-socials i:hover {
    opacity: 0.75;
}

.team-area .pmd-card .pmd-card-title .member-socials .icon-twitter {
    color: #1da1f2;
}

.team-area .pmd-card .pmd-card-title .member-socials .icon-facebook {
    color: #3b5998;
}

.team-area .pmd-card .pmd-card-title .member-socials .icon-gplus {
    color: #db4437;
}

.team-area .pmd-card .pmd-card-title .member-socials .icon-instagram {
    color: #922047;
}

.team-area .pmd-card .pmd-card-title .member-socials .icon-linkedin {
    color: #0077b5;
}

.team-area .pmd-card .pmd-card-title .member-socials .icon-youtube {
    color: #cc181e;
}

/*=======================================
=            19. Footer Area            =
=======================================*/

.footer-area {
    background-color: #060721;
    padding: 60px 0 10px 0;
}

.footer-area .main-footer {
    margin-bottom: 20px;
}

.footer-area .single-list {
    margin-bottom: 35px;
}

.footer-area .single-list h4 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #dadada;
    margin-bottom: 10px;
}

.footer-area .single-list li {
    margin-bottom: 5px;
}

.footer-area .single-list li a {
    font-size: 14px;
    color: #888;
}

.footer-area .single-list li a:hover,
.footer-area .single-list li a:focus {
    color: #f3f3f3;
}

.footer-area .company-overview {
    position: relative;
    bottom: 15px;
}

.footer-area .company-overview .name,
.footer-area .company-overview .name:hover,
.footer-area .company-overview .name:focus {
    font-family: 'Varela Round', sans-serif;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    text-transform: lowercase;
    color: #fff;
}

.footer-area .company-overview .description {
    font-size: 14px;
    color: #888;
    margin-bottom: 0;
}

.footer-area .copyright p {
    font-size: 15px;
    color: #ccc;
    margin-bottom: 0;
}

.footer-area .social-medias a i {
    float: right;
    font-size: 16px;
    color: #888;
    margin: 0 5px;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    transition: inherit;
}

.footer-area .social-medias a:hover .icon-twitter {
    color: #1da1f2;
}

.footer-area .social-medias a:hover .icon-facebook {
    color: #3b5998;
}

.footer-area .social-medias a:hover .icon-github:hover {
    color: #6e5494;
}

.footer-area .social-medias a:hover .icon-gplus:hover {
    color: #db4437;
}

.footer-area .social-medias a:hover .icon-instagram:hover {
    color: #922047;
}

.footer-area .social-medias a:hover .icon-linkedin:hover {
    color: #0077b5;
}

.footer-area .social-medias a:hover .icon-youtube:hover {
    color: #cc181e;
}

.google-play {
    margin-right:2%;
}