/*==========================================
=            01. General Styles            =
==========================================*/

body {
    font-family: 'lato', sans-serif;
    font-size: 16px;
    line-height: 1.8;
    background-color: #fff;
}

@media only screen and (max-width:767px) {
    body {
        font-size: 15px;
    }
	.faqs-area .text-part{
		width:100% !important;
	}
}

::-moz-selection {
    color: #fff;
}

::selection {
    color: #fff;
}

a {
    text-decoration: none;
    color: #444;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #666;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    color: #333;
    margin: 0 0 15px;
}

p {
    color: #666;
}

img {
    max-width: 100%;
    height: auto;
}

blockquote {
    font-style: italic;
}

.owl-carousel {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}

.owl-carousel:active {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
}

.pmd-card {
    padding: 0 0 1px 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

hr {
    border-top: 2px solid rgba(230, 230, 230, 0.65);
    margin: 0;
}

.vertical-align {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.hr-shadow {
    -webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1), inset 0 -2px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1), inset 0 -2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1), inset 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.hr-shadow-top {
    -webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
}

.hr-shadow-bottom {
    -webkit-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.pmd-z-depth {
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

/*.pmd-z-depth-1 {
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}*/

/*.pmd-z-depth-2 {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}*/

.pmd-z-depth-3 {
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.pmd-z-depth-4 {
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.pmd-z-depth-5 {
    -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
}

.pmd-z-depth-6 {
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}

.section-white-bg {
    background-color: #fff;
}

.section-gray-bg {
    background-color: #060721;
}

.section-fixed-bg {
    -moz-background-size: cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.section-overlay-bg {
    position: relative;
}

.section-overlay-bg:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    background-color: rgba(0, 0, 0, .75);
}

.section-heading {
    position: relative;
    text-align: center;
    margin-bottom: 45px;
}

.section-heading .section-title {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

.section-heading .description {
    font-size: 18px;
    font-weight: 300;
}
.about-area .img-part {
    max-height: 300px;
    overflow: hidden;
}
.topnav1 {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    top: 40%;
    text-align: center;
}
.faqs-area .section-heading {
    margin-bottom: 0px;
}
.faqs-area .text-part {
    width: 70%;
    margin: auto;
}
.custom-background-product {
    background: #060721;
}
.first-product-col .text-center {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 18px;
}
.center-align {
    text-align:center;
}
.latest-posts-area {
    padding: 20px 9px;;
}
.mobile-menu-col .dropdown {
    text-align: right;
    margin-top: 13px;
}
.mobile-logo {
    display: none;
}

@media only screen and (max-width:767px),
only screen and (min-width:768px) and (max-width:991px) {
    .section-heading .section-title {
        font-size: 26px;
    }
    .section-heading .description {
        font-size: 15px;
    }
}

.section-white-bg .section-heading .section-title,
.section-gray-bg .section-heading .section-title {
    color: #444;
}

.section-white-bg .section-heading .description,
.section-gray-bg .section-heading .description {
    color: #666;
}

.section-fixed-bg.section-overlay-bg .section-heading .section-title {
    color: #fff;
}

.section-fixed-bg.section-overlay-bg .section-heading .section-description {
    color: #f3f3f3;
}

.icon-wrapper:before {
    display: inline-block;
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: inherit;
    text-align: center;
    text-transform: none;
    line-height: 1em;
    width: 1em;
    margin-right: .2em;
    margin-left: .2em;
    speak: none;
}

.animate-spin {
    -moz-animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
    display: inline-block;
}

@-webkit-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.btn-custom {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 18px;
    color: #fff;
    border: 1px solid transparent;
}

.btn-custom:focus,
.btn-custom.focus {
    color: #fff;
}

.btn-custom:hover {
    color: #fff;
}

.btn-custom:active,
.btn-custom.active,
.open>.dropdown-toggle.btn-custom {
    color: #fff;
}

.btn-custom:active:hover,
.btn-custom.active:hover,
.open>.dropdown-toggle.btn-custom:hover,
.btn-custom:active:focus,
.btn-custom.active:focus,
.open>.dropdown-toggle.btn-custom:focus,
.btn-custom:active.focus,
.btn-custom.active.focus,
.open>.dropdown-toggle.btn-custom.focus {
    color: #fff;
}

.btn-custom:active,
.btn-custom.active,
.open>.dropdown-toggle.btn-custom {
    background-image: none;
}

.ink.animate {
    -webkit-animation-duration: .4s;
    -moz-animation-duration: .4s;
    animation-duration: .4s;
}

.btn-custom .ink,
.dropdown-toggle.btn-custom .ink {
    background-color: rgba(255, 255, 255, 0.5);
}

.btn-custom .badge {
    background-color: #fff;
}

.btn-custom:disabled,
.dropdown-toggle.btn-custom:disabled,
.btn-custom.disabled,
.dropdown-toggle.btn-custom.disabled,
.btn-custom[disabled],
.dropdown-toggle.btn-custom[disabled] {
    background-color: #b3b3b3;
}

.pmd-btn-flat.btn-custom {
    background-color: transparent;
}

.pmd-btn-flat.btn-custom:hover {
    background-color: #e5e5e5;
}

.pmd-btn-flat.btn-custom:active,
.pmd-btn-flat.btn-custom.active {
    background-color: #ccc;
}

.pmd-btn-flat.btn-custom:focus {
    background-color: #ccc;
}

.pmd-btn-outline.btn-custom {
    background-color: transparent;
}

.pmd-btn-outline.btn-custom:hover,
.pmd-btn-outline.btn-custom:focus {
    color: #fff;
}

.mfp-fade.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}


/*======================================
=            02. Prealoader            =
======================================*/

.preloader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background-color: #fff;
}

.preloader .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;
}

.preloader .double-bounce-1,
.preloader .double-bounce-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    opacity: 0.75;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    -moz-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.preloader .double-bounce-2 {
    -webkit-animation-delay: -1.0s;
    -moz-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%,
    100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@-moz-keyframes sk-bounce {
    0%,
    100% {
        -moz-transform: scale(0.0);
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        -moz-transform: scale(1.0);
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

@keyframes sk-bounce {
    0%,
    100% {
        -moz-transform: scale(0.0);
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        -moz-transform: scale(1.0);
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}


/*=======================================
=            03. Navbar Area            =
=======================================*/

.navbar-area {
    border: 0;
    margin-bottom: 0;
}

.navbar-area,
.navbar-area .navbar-brand {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.navbar-area.navbar-v1 {
    background-color: #060721;
}

.navbar-area.navbar-v2 {
    background-color: #060721;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.35);
}

.navbar-area .navbar-brand,
.navbar-area .navbar-brand:hover,
.navbar-area .navbar-brand:focus {
    font-family: 'Varela Round', sans-serif;
    font-size: 34px;
    font-weight: bold;
    text-transform: lowercase;
    padding: 0 0 0 15px;
}

.navbar-area.navbar-v1 .navbar-brand,
.navbar-area.navbar-v1 .navbar-brand:hover,
.navbar-area.navbar-v1 .navbar-brand:focus {
    color: #fff;
}
/*.navbar-area.navbar-v1 .navbar-brand {
    background: transparent !important;
    color: #fff !important;
}*/
.dropdown-toggle {
    background: transparent;
}
.navbar .row {
    padding: 20px 0 20px 0;
}
.navbar-brand >img {
     height: 100% !important;
}
.dropdown .fa {
    font-size: 25px;
}
/*.navbar-area.navbar-v1 .navbar-brand {
    padding-top: 36px;
}
*/
.navbar-area.navbar-v2 .navbar-brand {
     padding-top: 8px;
}

.navbar-area .navbar-nav {
    margin-right: 0;
}

.navbar-area .navbar-nav>.hash-link>a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    -webkit-transition: all 0.25s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: all 0.25s ease-in-out, padding 0.5s ease-in-out;
    transition: all 0.25s ease-in-out, padding 0.5s ease-in-out;
}

.navbar-area.navbar-v1 .navbar-nav>.hash-link>a {
    color: #dadada;
    padding: 38px 12px;
}

.navbar-area.navbar-v1 .navbar-nav>.hash-link.active>a,
.navbar-area.navbar-v1 .navbar-nav>.hash-link.active>a:hover,
.navbar-area.navbar-v1 .navbar-nav>.hash-link.active>a:focus {
    background-color: transparent;
}

.navbar-area.navbar-v2 .navbar-nav>.hash-link>a {
    padding: 18px 12px;
}

.navbar-area.navbar-v2 .navbar-nav>.hash-link.active>a,
.navbar-area.navbar-v2 .navbar-nav>.hash-link>a:hover {
    color: #fff;
}

.navbar-area .navbar-nav>.btn-download>a {
    -webkit-transition: all 0.4s ease-in-out, margin 0.5s ease-in-out;
    -moz-transition: all 0.4s ease-in-out, margin 0.5s ease-in-out;
    transition: all 0.4s ease-in-out, margin 0.5s ease-in-out;
}

.navbar-area .navbar-nav>.btn-download .btn-custom {
    padding: 9px 13px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.navbar-area .navbar-nav>.btn-download .btn-custom i {
    margin-left: 3px;
}

.navbar-area .navbar-nav>.btn-download>a,
.navbar-area .navbar-nav>.btn-download.active>a,
.navbar-area .navbar-nav>.btn-download.active>a:hover,
.navbar-area .navbar-nav>.btn-download.active>a:focus {
    padding: 0;
}

.navbar-area.navbar-v1 .navbar-nav>.btn-download>a {
    margin: 28px 0 0 10px;
}

.navbar-area.navbar-v2 .navbar-nav>.btn-download>a {
    margin: 8px 0 0 10px;
}
.topnav {
    margin-top: 160px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #060721;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 110px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 21px;
  color: #fff;
  display: block;
  transition: 0.3s;
  text-align: left;
}

.sidenav a:hover {
  color: #f353d1;
}

.sidenav .closebtn {
  position: absolute;
  top: 13px;
  right: 70px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*=====================================
=            04. Home Area            =
=====================================*/
.custom-background-product {
    background-image: linear-gradient(rgba(7, 4, 4, 0.5),
     rgba(0,0,0,0.5)), url(../images/downloads-section.jpg);
    background-size: cover;
    background-position: center;
}
.home-area {
    /*background-image: linear-gradient(rgba(7, 4, 4, 0.0),
     rgba(0,0,0,0.0)), url(../images/urbanerguyresized.jpg);
    */
}
.home-area .buttons-set {
    margin-top: 30px;
}
.navbar-nav li a:hover {
    color: #fb5fd2 !important;
}
.navbar-nav li a {
    color: #fff !important;
}
.home-area:before {
    background-color: rgba(0, 0, 0, .77);
}

.home-area .text-part {
    /* text-align: left; */
}

.home-area .text-part .home-title {
    font-size: 48px;
    line-height: 1.30;
    color: #fff;
    margin-bottom: 0;
}
.home-area .text-part p span {
    font-size: 22px;
    color: #fff;
}

.product-overlay {
    position: relative;
    width: 100%;
    height:100%;
    /*box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);*/
}
.team-area .container-fluid {
    height: 350px;
    overflow: hidden;
}
.product-overlay .middle h2, .product-overlay .middle a, .product-overlay .middle span {
    color: #fff;
}
.product-overlay .middle {
    position: absolute;
    width:100%;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
.product-overlay img {
    width: 100%;
    height: 535px;
    display: block;
}
.home-area .text-part .home-description {
    letter-spacing: 0.25px;
    color: #fff;
    margin-bottom: 0 !important;
    font-size: 30px;
    font-weight: 600;
    line-height: 45px;
}

.home-area .text-part .buttons-set .btn-custom {
    font-size: 15px;
    text-transform: none;
    padding: 10px 40px;
    margin-right: 15px;
}

.home-area .text-part .buttons-set .pmd-btn-outline.btn-custom {
    color: #fff;
    border-color: #fff;
}

.home-area .text-part .buttons-set .btn-custom i {
    color: #fff;
    margin-right: 3px;
}

.home-area .img-part {
    padding-top: 77px;
}

.home-area .img-part img {
    width: 480px;
}

/*======================================
=            06. About Area            =
======================================*/

.about-area {
    padding: 30px 0;
    background: #060721;
    margin-top:3px;
}

.about-area>.container>.vertical-align {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
       -moz-box-orient: horizontal;
       -moz-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
}

.about-area .text-part .about-title {
    font-size: 32px;
    color: #fff;
    margin-bottom: 20px;
}

.about-area .text-part .about-description {
    color: #666;
    margin-bottom: 20px;
}

.about-area .text-part .about-list {
    margin-bottom: 25px;
}

.about-area .text-part .about-list li {
    font-size: 15px;
    color: #666;
    margin-bottom: 8px;
}

.about-area .text-part .about-list li.icon-wrapper:before {
    content: '\E802';
    font-size: 17px;
    margin-right: 0.6em;
    margin-left: 0;
}

.about-area .text-part .btn-custom {
    padding: 10px 18px;
    border: 0;
}

.about-area .text-part .btn-custom i {
    font-size: 16px;
    margin-right: 3px;
}

.about-area .img-part img {
    width: 425px;
}


/*==========================================
=            13. Downloads Area            =
==========================================*/

.downloads-area {
    background-image: url(../images/downloads-section.jpg);
    padding: 65px 0;
}

.downloads-area:before {
    background-color: rgba(0, 0, 0, 0.64);
}

.downloads-area .section-heading {
    margin-bottom: 0;
}

.downloads-area .badges-set {
    text-align: center;
}

.downloads-area .badges-set .google-play,
.downloads-area .badges-set .apple-store,
.downloads-area .badges-set .windows-store {
    display: inline-block;
    margin: 25px 15px 10px 15px;
}

.downloads-area .badges-set .google-play img,
.downloads-area .badges-set .apple-store img {
    width: 215px;
}

.downloads-area .badges-set .windows-store img {
    width: 175px;
}


/*==================================================
=            14. Latest Blog Posts Area            =
==================================================*/

/*.latest-posts-area {
    padding: 85px 0 60px 0;
}*/

.latest-posts-area .blog-posts {
    margin-top: 0px;
}

.latest-posts-area .pmd-card {
    margin-left: 0;
    margin-right: 0;
}

.latest-posts-area .pmd-card .post-thumbnail img {
    width: 100%;
}

.latest-posts-area .pmd-card .post-text {
    /* margin-bottom: 0; */
    text-align: center;
}

.latest-posts-area .pmd-card .post-text .pmd-card-title-text {
    font-size: 17px;
    margin-bottom: 7px;
}

.latest-posts-area .pmd-card .post-meta .media-left {
    padding-right: 12px;
}

.latest-posts-area .pmd-card .post-meta .avatar-list-img {
    width: 45px;
    height: 45px;
}

.latest-posts-area .pmd-card .post-meta .pmd-card-title-text {
    font-family: 'Montserrat', sans-serif;
}

.latest-posts-area .pmd-card .post-meta .pmd-card-subtitle-text {
    font-size: 13px;
}

.latest-posts-area .pmd-card .post-meta .pmd-card-subtitle-text.icon-wrapper:before {
    content: '\F274';
    font-size: 14px;
    margin-right: 6px;
}

.latest-posts-area .btn-wrapper {
    text-align: center;
}

.latest-posts-area .btn-wrapper .btn-custom {
    text-transform: none;
}

/*======================================
=            16. FAQ's Area            =
======================================*/

.faqs-area {
    padding: 30px 0 30px 0;
    background: #060721;
    margin-top:3px;
}

.faqs-area .text-part .panel {
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
}

.faqs-area .text-part .panel>.panel-heading a {
    position: relative;
    font-weight: 700;
    padding: 12px 45px 12px 20px;
}

.faqs-area .text-part .panel>.panel-heading a .pmd-accordion-arrow {
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

.faqs-area .text-part .panel.active>.panel-heading a [class^="icon-"].pmd-accordion-arrow,
.faqs-area .text-part .panel.active>.panel-heading a [class*=" icon-"].pmd-accordion-arrow {
    -webkit-transform: rotate(180deg) translateY(50%);
    -ms-transform: rotate(180deg) translateY(50%);
    -moz-transform: rotate(180deg) translateY(50%);
    transform: rotate(180deg) translateY(50%);
}

.faqs-area .text-part .panel>.panel-heading a:focus {
    color: #444;
}

.faqs-area .text-part .panel>.panel-heading a .pmd-accordion-icon-left {
    padding-right: 5px;
}

.faqs-area .text-part .panel>.panel-heading a .pmd-accordion-icon-left.icon-bitcoin {
    color: #c67700;
}

.faqs-area .text-part .panel>.panel-heading a .pmd-accordion-icon-left.icon-language {
    color: #0651c8;
}

.faqs-area .text-part .panel>.panel-heading a .pmd-accordion-icon-left.icon-github {
    color: #0d2636;
}

.faqs-area .text-part .panel>.panel-heading a .pmd-accordion-icon-left.icon-money {
    color: #227300;
}

.faqs-area .text-part .panel>.panel-heading a .pmd-accordion-icon-left.icon-credit-card {
    color: #801515;
}

.faqs-area .text-part .panel>.panel-heading a .pmd-accordion-arrow:before {
    margin: 0;
}

.faqs-area .text-part .panel>.panel-heading a .pmd-accordion-icon-left:before {
    margin-left: 0;
}

.faqs-area .text-part .panel .panel-collapse .panel-body {
    font-size: 14px;
    color: rgba(51, 51, 51, 0.80);
    padding: 5px 20px 25px 20px;
}

.faqs-area .img-part {
    text-align: center;
}

.faqs-area .img-part img {
    width: 275px;
}


/*=====================================
=            17. Team Area            =
=====================================*/

.team-area {
    /*padding: 0 0 50px 0;*/
    position: relative;
}
.team-area .section-heading {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    top: 40%;
    text-align: center;
}
.team-area .container {
    margin-top: 50px;
}
.section-heading .section-title, .section-heading .description {
    color: #fff !important;
}
.team-area .owl-carousel {
    padding-top: 15px;
}

.team-area .pmd-card {
    text-align: center;
    margin-bottom: 10px;

}

.team-area .pmd-card .pmd-card-media {
    overflow: hidden;
}

.team-area .pmd-card .pmd-card-media:hover:before {
    opacity: 1;
}

.team-area .pmd-card .pmd-card-title {
    padding: 15px 15px 0 15px;
    margin-bottom: 0;
}

.team-area .pmd-card .pmd-card-title .pmd-card-title-text {
    font-size: 17px;
    font-weight: 700;
    color: #555;
    margin-bottom: 2px;
}

.team-area .pmd-card .pmd-card-title .pmd-card-subtitle-text {
    display: inline-block;
    margin-bottom: 5px;
}

.team-area .pmd-card .pmd-card-title .member-socials {
    margin: 0 auto;
}

.team-area .pmd-card .pmd-card-title .member-socials li {
    padding: 0 2px;
}

.team-area .pmd-card .pmd-card-title .member-socials i {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.team-area .pmd-card .pmd-card-title .member-socials i:hover {
    opacity: 0.75;
}

.team-area .pmd-card .pmd-card-title .member-socials .icon-twitter {
    color: #1da1f2;
}

.team-area .pmd-card .pmd-card-title .member-socials .icon-facebook {
    color: #3b5998;
}

.team-area .pmd-card .pmd-card-title .member-socials .icon-gplus {
    color: #db4437;
}

.team-area .pmd-card .pmd-card-title .member-socials .icon-instagram {
    color: #922047;
}

.team-area .pmd-card .pmd-card-title .member-socials .icon-linkedin {
    color: #0077b5;
}

.team-area .pmd-card .pmd-card-title .member-socials .icon-youtube {
    color: #cc181e;
}

/*=======================================
=            19. Footer Area            =
=======================================*/

.footer-area {
    background-color: #060721;
    padding: 30px 0 10px 0;
    margin-top: 3px;
}
.footer-area .main-footer {
    margin-bottom: 20px;
}

.footer-area .single-list {
    margin-bottom: 35px;
}

.footer-area h4 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #dadada;
    margin-bottom: 10px;
}
.footer-area .use-column li {
    width: 50%;
    float: left;
}
.footer-area .single-list li {
    margin-bottom: 5px;
}

.footer-area .single-list li a {
    font-size: 14px;
    color: #fff;
}

.footer-area .single-list li a:hover,
.footer-area .single-list li a:focus {
    color: #f3f3f3;
}

.footer-area .company-overview {
    position: relative;
    bottom: 15px;
}

.footer-area .company-overview .name,
.footer-area .company-overview .name:hover,
.footer-area .company-overview .name:focus {
    font-family: 'Varela Round', sans-serif;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    text-transform: lowercase;
    color: #fff;
}

.footer-area .company-overview .description {
    font-size: 14px;
    color: #fff;
    margin-bottom: 0;
}

.footer-area .copyright p {
    font-size: 15px;
    color: #fff;
    text-align:center;
    margin-bottom: 0;
}

.footer-area .social-medias a i {
    float: right;
    font-size: 16px;
    color: #888;
    margin: 0 5px;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    transition: inherit;
}

.footer-area .social-medias a:hover .icon-twitter {
    color: #1da1f2;
}

.footer-area .social-medias a:hover .icon-facebook {
    color: #3b5998;
}

.footer-area .social-medias a:hover .icon-github:hover {
    color: #6e5494;
}

.footer-area .social-medias a:hover .icon-gplus:hover {
    color: #db4437;
}

.footer-area .social-medias a:hover .icon-instagram:hover {
    color: #922047;
}

.footer-area .social-medias a:hover .icon-linkedin:hover {
    color: #0077b5;
}

.footer-area .social-medias a:hover .icon-youtube:hover {
    color: #cc181e;
}

.google-play {
    margin-right:2%;
}
.product-tour-custom{
    top:30px !important;
}
.closebtn:hover {
    color:#fff!important;
}
.navbar-default {
    background-color:#060721!important;
}
.learn-more-product {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -17px);
}
.pmd-card {
    margin-bottom: 20px;
}
.soical-icon-mobile {
    display:none;
}
@media only screen and (min-width:768px) {
    .padding-left-right {
        padding-left:3px;
        padding-right:3px;
    }
    .pmd-card {
        margin-bottom: 0px!important;
    }
    .phone-banner-height {
        height: 70vh!important;
    }
}
.margin-bottom-0 {
    margin-bottom:0!important;
}
.margin-top3 {
    margin-top:3px;
}
.three-column-height{
    height:530px!important;
}
.social-stack{
		float:right;
	}
@media only screen and (max-width:767px){
    .social-icon-desktop {
        display:none;
    }
    .soical-icon-mobile {
        display:block;
    }
	.navbar .row{
		    padding: 20px 0 16px 0;
	}
	.navbar-brand{
		height:auto;
	}
	
	.main-footer .col-sm-2{
		width: 33.333%;
    float: left;
    text-align: left;
    padding-top: 20px;
	}
	.footer-area .copyright p{
		text-align:center;
	}
	.social-stack{
		float:unset;
	}
    .mobile-menu-col {
        align-items: center;
    }
	.navbar-brand >img{
		margin-top: -35px;
	}
    .mobile-menu-col .dropdown {
        text-align: right;
margin-top: 0px;
    }
    .mobile-logo {
        display: block;
    }
    .desktop-logo {
        display: none;
    }
    .sidenav {
        right: 0;  
        padding-top: 35px;
        margin-top: 84px;  
    }
	.three-column-height{
height:auto !important;
}
#navbar-area > div > div > div.col-sm-6.mobile-menu-col > div > span > img{
	top: 4px;
    position: relative;
}
.height-530{
	height:530px !important;
	}
}
