* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family:Helvetica Neue, Arial;
  font-size: 18px;
}

h1, h2{
  color:green;

}

h1 {
  font-size:40px;
  margin-bottom:20px;
}

h2 {
  font-size:25px;
  margin-bottom:10px;
}



.main-text {
  text-align:justify;
  margin-bottom:20px;
}
.author-text {
  font-size: 22px;
  float:left;
  padding-top: 34px;
}
.container {
  width:1140px;
  margin:25px auto 0 auto;
}
.blog-post {
  width:75%;
  position:relative;
  float:left;
  padding-right:20px;
}
.other-posts {
  width:25%;
  float:left;
}
.author-box {
  border-top:1px solid #868080;
  padding:20px;
}
.author-box img {
  height:100px;
  width:100px;
  float:left;
  border-radius:50%;
}
.clear-fix:after {
  content:"";
  display: table;
  clear: both;
}
.other {
  margin-bottom:50px;
}
.date {
  position:absolute;
  top: 10px;
  right: 30px;
}